<div class="message">
  <div class="content" [ngClass]="{ self: currentUser }">
    <div
      *ngIf="currentUser"
      [style.visibility]="showActions ? 'visible' : 'hidden'"
      class="actions"
    >
      <mat-icon [matMenuTriggerFor]="action">more_vert</mat-icon>
      <mat-icon (click)="reply.emit(message)">reply</mat-icon>
    </div>
    <img *ngIf="!currentUser" class="avatar" [src]="message.sender.picture" alt="Avatar" />
    <img
      *ngIf="message.photo"
      [src]="message.thumbnailUrl"
      alt=""
      (click)="fullSizeImageUrl.emit(message.imgUrl)"
    />
    <div
      *ngIf="!message.photo"
      class="text"
      [class]="theme"
      [ngClass]="{ self: currentUser, dark: darkMode }"
    >
      <span [innerHTML]="message.text | link"></span>
    </div>
    <div
      *ngIf="!currentUser"
      [style.visibility]="showActions ? 'visible' : 'hidden'"
      class="actions"
    >
      <mat-icon [matMenuTriggerFor]="action">more_vert</mat-icon>
      <mat-icon (click)="reply.emit(message)">reply</mat-icon>
    </div>
  </div>
  <div *ngIf="!currentUser" class="username">
    {{ message.sender.username }}
  </div>
  <div class="time" [ngClass]="{ self: currentUser }">{{ time }}</div>
</div>

<mat-menu #action="matMenu" yPosition="above">
  <button mat-menu-item>Remove</button>
</mat-menu>
