<ng-container *ngIf="!readonly">
  <app-places-input [value]="location.address" (locationChange)="change($event)"></app-places-input>
</ng-container>

<agm-map
  *ngIf="fixedSize"
  [style.width.px]="500"
  [style.height.px]="500"
  [latitude]="location.latitude"
  [longitude]="location.longitude"
  [styles]="mapTypeStyle"
  [zoom]="zoom"
>
  <agm-marker [latitude]="location.latitude" [longitude]="location.longitude"></agm-marker>
</agm-map>

<agm-map
  *ngIf="!fixedSize"
  [latitude]="location.latitude"
  [longitude]="location.longitude"
  [styles]="mapTypeStyle"
  [zoom]="zoom"
>
  <agm-marker [latitude]="location.latitude" [longitude]="location.longitude"></agm-marker>
</agm-map>
