@import 'variables';

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  grid-auto-rows: 415px;
  grid-gap: 25px;
  justify-content: center;
  margin: 60px;
  padding: 25px;
  font-family: $poppins;
  color: $black;
  border-radius: 6px;
}

.event {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  img {
    height: 210px;
    width: auto;
    object-fit: cover;
    vertical-align: middle;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      opacity: 0.7;
    }
  }
}
.content {
  padding: 10px;
  line-height: 1.2;
}

.date {
  max-width: 250px;
  white-space: pre-line;
  min-height: 35px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 1.3;

  .dash {
    font-weight: 800;
  }
}

.name {
  font-size: 20px;
  font-weight: 700;
  max-width: 340px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details {
  display: flex;
  align-items: center;
  margin-top: 5px;

  .address {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  mat-icon {
    color: $light-orange;
    margin-right: 5px;
  }
}
