<div class="container">
  <div class="event" *ngFor="let event of events$ | async" (click)="navigateToEvent(event.id)">
    <img [style.top.px]="event.photo.positionTop" [src]="event.photo.thumbnailUrl" alt="image" />
    <div class="content">
      <div class="date">{{ event.startDate | dateAndTime }}</div>
      <div class="name" [style.color]="event.theme.primaryColor">
        {{ event.name }}
      </div>
      <div class="privacy">
        <mat-icon>{{ event.privacy === Privacy.PUBLIC ? 'public' : 'locked' }}</mat-icon>
        {{ event.privacy === Privacy.PUBLIC ? 'Public' : 'Private' }} Event
      </div>
      <div class="category">
        <mat-icon>{{ event.category.icon }}</mat-icon>
        {{ event.category.name }}
      </div>
    </div>
  </div>
</div>
