<div class="container">
  <div class="event" *ngFor="let event of events$ | async" (click)="navigateToEvent(event.id)">
    <img [style.top.px]="event.photo.positionTop" [src]="event.photo.thumbnailUrl" alt="image" />
    <div class="content">
      <div class="date">
        <span>{{ event.startDate | dateAndTime }}</span>
        <span *ngIf="event.endDate">
          <span class="dash">&nbsp;-&nbsp;</span>
          {{ event.endDate | dateAndTime }}
        </span>
      </div>
      <div class="name" [style.color]="event.theme.primaryColor">
        {{ event.name }}
      </div>
      <div class="details">
        <mat-icon>people</mat-icon>
        {{ event.attending }} Going
      </div>
      <div class="details">
        <mat-icon>place</mat-icon>
        <span class="address">{{ event.location.address }}</span>
      </div>
      <div class="details">
        <mat-icon>{{ event.privacy === Privacy.PUBLIC ? 'public' : 'locked' }}</mat-icon>
        {{ event.privacy === Privacy.PUBLIC ? 'Public' : 'Private' }} Event
      </div>
      <div class="details">
        <mat-icon>{{ event.category.icon }}</mat-icon>
        {{ event.category.name }}
      </div>
    </div>
  </div>
</div>
