@import 'variables';

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: $white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.logo {
  margin-left: 15px;
  font-size: 40px;
  font-weight: 600;
  color: $light-orange;
}

.navigation {
  display: flex;
}

.item {
  cursor: pointer;
  color: $light-orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  font-weight: 600;

  mat-icon {
    font-size: 36px;
    width: 36px;
    height: 36px;
  }
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mobile-menu {
  font-size: 36px;
  font-weight: 600;
  width: 36px;
  height: 36px;
  margin-right: 15px;
}

mat-icon,
.action {
  color: $light-orange;
}

.action {
  font-size: 28px;
  width: 28px;
  height: 28px;
}

span {
  font-weight: 600;
}
