@import 'variables';

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: $white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.navigation {
  display: flex;
}

.item {
  cursor: pointer;
  color: $light-orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  font-weight: 600;

  mat-icon {
    font-size: 36px;
    width: 36px;
    height: 36px;
  }
}
