<div class="menu">
  <div class="logo">EVENTFULLY</div>
  <div *ngIf="!mobile" class="navigation">
    <div class="item" (click)="navigateToEvents.emit()">
      <mat-icon>list</mat-icon>
      <div>Events</div>
    </div>
    <div class="item" (click)="navigateToCreateEvent.emit()">
      <mat-icon>calendar_today</mat-icon>
      <div>Create Event</div>
    </div>
    <div class="item">
      <img [src]="userPicture" alt="Avatar" class="avatar" [matMenuTriggerFor]="menu" />
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navigateToUserSettings.emit()">Settings</button>
        <button mat-menu-item (click)="logout.emit()">Sign out</button>
      </mat-menu>
    </div>
  </div>
  <mat-icon class="mobile-menu" *ngIf="mobile" [matMenuTriggerFor]="menu">menu</mat-icon>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navigateToEvents.emit()">
      <mat-icon class="action">list</mat-icon>
      <span>Events</span>
    </button>
    <button mat-menu-item (click)="navigateToCreateEvent.emit()">
      <mat-icon class="action">calendar_today</mat-icon>
      <span>Create Event</span>
    </button>
    <button mat-menu-item (click)="navigateToUserSettings.emit()">
      <mat-icon class="action">manage_accounts</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item (click)="logout.emit()">
      <mat-icon class="action">logout</mat-icon>
      <span>Sign out</span>
    </button>
  </mat-menu>
</div>
