@import 'variables';

.container {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: $poppins;
  margin-top: 60px;
}

.form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding-top: 10px;
}

.date {
  width: 430px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  flex-wrap: wrap;

  mat-form-field,
  app-time-select {
    width: 210px;
  }

  &.mobile {
    width: 100%;

    mat-form-field,
    app-time-select {
      width: 100%;
    }
  }
}

app-map {
  margin-bottom: 20px;
}

.mode {
  margin-bottom: 15px;
  max-width: 180px;
}

.back {
  margin-right: 10px;
}

.buttons {
  margin-top: 20px;
}

.add-end-date {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  font-size: 12px;
  color: $light-orange;
  width: 140px;
  font-weight: 600;
}

app-preview {
  width: 100%;
  height: 100%;
}

::ng-deep .mat-form-field {
  &.error {
    .mat-form-field-outline {
      color: $warning;
    }
  }
}

.error-message {
  display: flex;
  width: 100%;

  .text {
    margin-bottom: 10px;
    color: $warning;
    font-size: 12px;
  }
}

.save {
  margin: 20px 0;
}

.emails {
  width: 100%;

  .add {
    cursor: pointer;
    color: $light-orange;
    transform: scale(1.5);
    margin-bottom: 10px;
  }

  .delete {
    cursor: pointer;
    color: $warning;
  }

  mat-form-field {
    width: 400px;
  }
}

mat-select-trigger {
  text-transform: capitalize;
}
