<div class="top" [ngClass]="{ dark: darkMode }" [style.color]="theme.primaryColor">
  <mat-icon (click)="close()">cancel</mat-icon>
</div>

<mat-dialog-content #content [ngClass]="{ dark: darkMode }" [style.color]="theme.primaryColor">
  <div #messageContainer class="messages">
    <app-message
      *ngFor="let message of messages"
      [message]="message"
      [userId]="userId"
      [theme]="theme.name"
      [darkMode]="darkMode"
      (fullSize)="showFullSizeImage = true; fullSizeImageUrl = $event"
    ></app-message>
    <mat-icon
      *ngIf="!inView && !(notification$ | async)"
      class="scroll-action"
      [@arrow]
      (click)="scrollIntoView()"
    >
      arrow_drop_down_circle
    </mat-icon>
    <mat-icon
      *ngIf="notification$ | async"
      class="scroll-action notification"
      (click)="scrollIntoView(); notification$.next(false)"
    >
      sms
    </mat-icon>
    <div *ngIf="loading$ | async" class="image-loader">
      <mat-spinner [diameter]="30"></mat-spinner>
      <img [src]="imgSrc" alt="" />
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions [ngClass]="{ dark: darkMode }" [style.color]="theme.primaryColor">
  <div class="input">
    <textarea
      [ngClass]="{ dark: darkMode }"
      autosize
      [minRows]="1"
      [maxRows]="10"
      placeholder="Aa"
      [formControl]="messageForm"
      (keypress)="keypress($event)"
      spellcheck="false"
    ></textarea>
  </div>
  <mat-icon class="emoji" (click)="showEmoticons = true">insert_emoticon</mat-icon>

  <mat-icon class="upload" (click)="fileUpload.click()">insert_photo</mat-icon>

  <emoji-mart
    *ngIf="showEmoticons"
    title=""
    [darkMode]="darkMode"
    (emojiClick)="addEmoji($event)"
    (clickOutside)="showEmoticons = false"
    [delayClickOutsideInit]="true"
  ></emoji-mart>

  <mat-icon
    class="send"
    [style.color]="theme.primaryColor"
    *ngIf="messageFormValid"
    (click)="sendMessage()"
  >
    send
  </mat-icon>
</mat-dialog-actions>
'

<div class *ngIf="showFullSizeImage" class="image-full">
  <img
    [src]="fullSizeImageUrl"
    alt=""
    [delayClickOutsideInit]="true"
    (clickOutside)="showFullSizeImage = false"
  />
</div>

<input #fileUpload type="file" accept="image/*" (change)="select($event)" />
