<div class="messenger" [ngClass]="{ dark: darkMode }" [style.color]="event.theme.primaryColor">
  <div class="actions top" [ngClass]="{ dark: darkMode }">
    <mat-icon (click)="closeMessenger.emit()">cancel</mat-icon>
  </div>

  <div class="content" #content>
    <div #messageContainer class="messages">
      <app-message
        *ngFor="let message of messages"
        [message]="message"
        [userId]="userId"
        [theme]="event.theme.name"
        [darkMode]="darkMode"
        (fullSizeImageUrl)="showFullSizeImage = true; fullSizeImageUrl = $event"
        (reply)="activeReply = true; replyToMessage = $event"
      ></app-message>
      <mat-icon
        *ngIf="!inView && !showNewMessageNotification && !activeReply"
        class="scroll-action"
        [@arrow]
        (click)="scrollIntoView()"
      >
        arrow_drop_down_circle
      </mat-icon>
      <mat-icon
        *ngIf="showNewMessageNotification"
        class="scroll-action notification"
        (click)="scrollIntoView()"
      >
        sms
      </mat-icon>
      <div *ngIf="loading$ | async" class="image-loader">
        <mat-spinner [diameter]="30"></mat-spinner>
        <img [src]="imgSrc" alt="loading" />
      </div>
    </div>
  </div>

  <div class="actions bottom" [ngClass]="{ dark: darkMode }">
    <div class="text-area-wrapper">
      <div *ngIf="activeReply" class="reply-to" [ngClass]="{ dark: darkMode }">
        <div class="message">
          <div>
            Replying to
            <span class="sender">{{ replyToMessage.sender.nickname }}</span>
          </div>
          <img
            *ngIf="replyToMessage.photo"
            class="image"
            [src]="replyToMessage.thumbnailUrl"
            alt=""
          />
          <div *ngIf="!replyToMessage.photo" class="text">{{ replyToMessage.text }}</div>
        </div>
        <mat-icon (click)="activeReply = false">close</mat-icon>
      </div>
      <textarea
        [ngClass]="{ dark: darkMode }"
        autosize
        [minRows]="1"
        [maxRows]="10"
        placeholder="Aa"
        [formControl]="messageForm"
        (keypress)="keypress($event)"
        spellcheck="false"
      ></textarea>
      <emoji-mart
        *ngIf="showEmoticons"
        title=""
        [darkMode]="darkMode"
        (emojiClick)="addEmoji($event)"
        (clickOutside)="showEmoticons = false"
        [delayClickOutsideInit]="true"
      ></emoji-mart>
    </div>
    <mat-icon class="upload" (click)="fileUpload.click()">insert_photo</mat-icon>
    <mat-icon class="emoji" (click)="showEmoticons = true">emoji_emotions</mat-icon>
    <mat-icon
      class="send"
      [style.color]="event.theme.primaryColor"
      *ngIf="messageFormValid"
      (click)="send()"
    >
      send
    </mat-icon>
  </div>

  <div class *ngIf="showFullSizeImage" class="image-full">
    <img
      [src]="fullSizeImageUrl"
      alt="fullsize image"
      [delayClickOutsideInit]="true"
      (clickOutside)="showFullSizeImage = false"
    />
  </div>
</div>

<input #fileUpload type="file" accept="image/*" (change)="upload($event)" />
