@import 'variables';
@import 'mixins';

:host {
  font-family: $poppins;
}

.messenger {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $white;
  z-index: 999;
}

.dark {
  background-color: $dark-mode-primary;
}

.content {
  height: calc(100% - 80px);
  overflow-y: auto;
}

.messages {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 100%;
  min-height: calc(100% - 80px);
  margin-top: 60px;
  padding: 10px 25px 0 25px;
}

.actions {
  display: flex;
  align-items: center;
  background-color: $white;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  z-index: 99;

  &.top {
    top: 0;
    left: 0;
    justify-content: flex-end;
    height: 50px;
    padding-right: 25px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px;
  }

  &.bottom {
    height: 65px;
    bottom: 0;
    left: 0;
    padding: 0 15px;
    .text-area-wrapper {
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      top: 13px;
      left: 10px;

      .reply-to {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 5px 5px;
        top: -145px;
        left: -25px;
        width: 100vw;
        height: 75px;
        border-top: 1px solid $light-grey;
        background: $white;

        .message {
          margin-left: 15px;

          .sender {
            font-weight: 600;
          }

          .image {
            margin-top: 5px;
            max-width: 100px;
            height: auto;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          }

          .text {
            margin-top: 5px;
            max-width: 330px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        mat-icon {
          cursor: pointer;
          align-self: flex-start;
          margin-right: 10px;
        }

        &.dark {
          background: $dark-mode-secondary;
          border: none;
        }
      }

      textarea {
        color: $black;
        background: #eff2f5;
        border-radius: 20px;
        border: none;
        resize: none;
        outline: none;
        position: absolute;
        width: calc(100% - 115px);
        font-family: inherit;
        padding-left: 10px;
        padding-top: 10px;
        font-size: 16px;
        box-sizing: border-box;

        &.dark {
          color: #e4e6eb;
          background: $dark-mode-secondary;
        }
        &.disabled {
          opacity: 0.3;
        }
      }
    }
  }

  &.dark {
    background-color: $dark-mode-primary;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.4;
  }
}

.scroll-action {
  position: fixed;
  top: 82%;
  left: 50%;
  transform: scale(2);
  &.notification {
    animation: fadeIn 1s infinite alternate;
  }
}

input[type='file'] {
  display: none;
}

.emoji {
  position: absolute;
  top: 10px;
  right: 85px;
}

.upload {
  position: absolute;
  top: 10px;
  right: 55px;
}

.send {
  position: absolute;
  top: 10px;
  right: 23px;
}

.image-fullsize {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  background: $black;

  img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
  }
}

mat-icon {
  cursor: pointer;
}

::ng-deep .emoji-mart {
  width: 215px !important;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  position: absolute;
  top: -460px;
  right: 100px;
  z-index: 150;
}

.image-loader {
  position: relative;
  border-radius: 10px;
  align-self: flex-end;

  mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    opacity: 0.3;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
  }
}
