@import 'variables';

.container {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  font-family: $poppins;
  font-size: 16px;

  &.messenger-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
}

.photo {
  height: 350px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &.mobile {
    height: 225px;
  }

  img {
    position: relative;
    height: 125%;
  }
}

.header-event {
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid $light-grey;
  padding: 50px 0 10px 20px;

  .name {
    font-weight: 700;
    font-size: 28px;
    margin: 15px 0 15px 0;
  }

  .calendar {
    position: absolute;
    top: -50px;
    width: 80px;
    height: 80px;
    box-shadow: $box-shadow-1;
    border-radius: 5px;
    background-color: $white;

    .top {
      background-color: $calendar-red;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      height: 20px;
    }

    .day {
      font-size: 40px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
    }
  }

  .date {
    text-transform: uppercase;
    font-weight: bold;
    color: $calendar-red;
  }

  .privacy,
  .category {
    display: flex;
    align-items: flex-end;
    margin-top: 10px;

    mat-icon {
      color: $light-orange;
      margin-right: 5px;
    }
  }
}

.menu {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $light-grey;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  z-index: 50;

  .messenger {
    cursor: pointer;
    transform: scale(2);
    padding: 10px 0 10px 15px;
  }

  .actions {
    display: flex;

    button {
      background-color: $light-grey;
      font-weight: 500;
      margin-left: 10px;

      &.going {
        background-color: #00e676;
      }
    }

    mat-icon {
      margin-right: 5px;
    }
  }
}

.details {
  background-color: $medium-grey;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  .row {
    display: flex;
    align-items: flex-end;

    &.date {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 300px;
    min-height: 300px;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin: 10px;

    .host {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      img {
        margin-right: 10px;
      }
    }

    .header-details {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 5px;
    }

    .avatar {
      vertical-align: middle;
      width: 30px;
      height: 30px;
      border-radius: 50%;

      &.guest {
        margin-right: 10px;
      }
    }

    .description {
      overflow-wrap: break-word;
      overflow-y: auto;
    }

    mat-icon {
      color: $light-orange;
      margin-right: 5px;
    }
  }

  .guests {
    margin: 10px 0;
  }

  .location {
    margin-top: 10px;
  }

  app-map {
    margin-bottom: 10px;
  }
}
